body {
  font-family: "PT sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  background: #ffffff;
}

img {
	max-width:100%;
	height:auto;
}

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "PT Sans";
	src: url("../fonts/ptsans.woff") format("woff"),
	url("../fonts/ptsans.woff2") format("woff2");
}

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "PT Sans Bold";
	src: url("../fonts/ptsansbold.woff") format("woff"),
	url("../fonts/ptsansbold.woff2") format("woff2");
}

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "Cuprum";
	src: url("../fonts/cuprum.woff") format("woff"),
	url("../fonts/cuprum.woff2") format("woff2");
}

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "Cuprum Bold";
	src: url("../fonts/cuprumbold.woff") format("woff"),
	url("../fonts/cuprumbold.woff2") format("woff2");
}

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "Cuprum Bold Italic";
	src: url("../fonts/cuprumbolditalic.woff") format("woff"),
	url("../fonts/cuprumbolditalic.woff2") format("woff2");
}

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "Cuprum Italic";
	src: url("../fonts/cuprumitalic.woff") format("woff"),
	url("../fonts/cuprumitalic.woff2") format("woff2");
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "symbols-technomart";
  src: url("../fonts/symbols-technomart.woff") format("woff"),
       url("../fonts/symbols-technomart.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-left::before { content: "\3c"; } /* "&lt;" */
.icon-right::before { content: "\3e"; } /* "&gt;" */
.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up::before { content: "\2c4"; } /* "˄" */
.icon-down::before { content: "\2c5"; } /* "˅" */
.icon-left-big::before { content: "\2190"; } /* "←" */
.icon-right-big::before { content: "\2192"; } /* "→" */
.icon-login::before { content: "\2386"; } /* "⎆" */
.icon-logout::before { content: "\241b"; } /* "␛" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-youtube::before { content: "\f39e"; } /* "" */
.icon-home::before { content: "🏠"; } /* "\1f3e0" */
.icon-user::before { content: "👨"; } /* "\1f468" */
.icon-phone::before { content: "📞"; } /* "\1f4de" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */
.icon-search::before { content: "🔍"; } /* "\1f50d" */
.icon-bookmark::before { content: "🔖"; } /* "\1f516" */

/*ХЭДЭР начало*/

.dark-blue {
  background: #293449;
  font-size: 0;
}

.positioner {
  width: 940px;
  margin: 0 auto;
}

.dark-blue a {
  display: inline-block;
  vertical-align: top;
  font-family: "cuprum";
  text-decoration: none;

  color: #ffffff;
}

.logo {
  padding: 10px 55px 8px 55px;
  font-size: 24px;
  text-transform: uppercase;
  color: #ffffff;
  background: #ee3643;
  position: relative;
}

.logo::after {
  content: "";
  position: absolute;
  width: 220px;
  height: 5px;
  background: #b52933;
  left: 0;
  bottom: -5px;
}

 .search {
  font-size: 17px;
  line-height: 18px;
  width: 288px;
  box-sizing: border-box;

  padding: 12px 0 0 18px;
}

.search::before {
  content: "\1f50d";
  font-family: "symbols-technomart";
  opacity: 0.3;
  margin-right: 14px;

}

.bookmarks {
  font-size: 17px;
  line-height: 18px;
  width: 132px;
  box-sizing: border-box;
  vertical-align: middle;

  padding: 12px 0 0 0;
}

.bookmarks::before {
  content: "\1f516";
  font-family: "symbols-technomart";
  opacity: 0.3;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-right: 14px;


}

.basket {
  font-size: 17px;
  line-height: 18px;
  width: 150px;
  box-sizing: border-box;

  padding: 12px 0 0 16px;
}

.basket::before {
  content: "\62";
  font-family: "symbols-technomart";
  opacity: 0.3;
  margin-right: 16px;

}

.order {
  font-size: 17px;
  line-height: 18px;
  padding: 12px 22px 12px 20px;
  background: #63a63e;

}

.catalog-header .basket {
  background: #ee3643;
  padding: 12px 0 12px 16px;
}

/*ХЭДЭР ВХОД*/

.light-blue {
  background: #f1f5f7;
  font-size: 0;
  padding-bottom: 60px;
}

.contact {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 300px;
  padding: 50px 0 40px 0;


}

.contact:nth-child(2) {
  margin: 0 20px;
  padding: 48px 0 39px 0;
}

.contact:nth-child(3) {
  padding: 46px 0 39px 18px;
}

.catalog-header .contact:nth-child(3) {
  padding: 46px 0 36px 0;
}

.contact p {
  font-size: 16px;
  line-height: 23px;
  font-family: "Cuprum Italic";
  color: #ee3643;
  width: 198px;
  padding: 0;
  margin: 0;
  padding-left: 52px;
}

.contact span {
  font-family: "Cuprum";
  font-size: 21px;
  line-height: 18px;
  color: #e9292a;
  display: block;
  margin: 0;
  padding: 0;
}

.contact .telefon {
  width: 270px;
  box-sizing: border-box;
  border: 3px solid #ffffff;
  margin: 0;
  padding: 10px 14px;
  font-size: 21px;
  line-height: 17px;
  font-family: "cuprum";

}



.telefon::before {
  content: "\1f4de";
  font-family: "symbols-technomart";
  color: #b7bfc8;
  margin-right: 40px;

}

.contact .address {
  font-family: "Cuprum";
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  padding: 4px 0 0 10px;
}

.contact a {
  font-family: "Cuprum";
  font-size: 21px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;

}

.contact .login {
  width: 120px;
  min-height: 45px;
  box-sizing: border-box;
  background: #ffffff;
  padding: 14px 0 14px 14px;
  margin-right: 10px;
}

.contact .login::before {
  content:"\2386";
  font-family: "symbols-technomart";
  color: #c5c5c5;
  margin-right: 14px;
}

.contact .registration {
  width: 150px;
  min-height: 45px;
  box-sizing: border-box;
  background: #ffffff;
  padding: 14px 0 14px 25px;
}

.catalog-header .user {
  display: block;
  padding: 14px 0 13px 47px;
  margin: 0;
  width: 300px;
  box-sizing: border-box;
  background: #fff;
  font-size: 21px;
  line-height: 18px;
  color: #000;
  position: relative;

}

.catalog-header .user::before {
  content: "\1f468";
  font-family: "symbols-technomart";
  color: #c5c5c5;
  font-size: 18px;
  line-height: 18px;
  position: absolute;
  left: 14px;
  top: 13px;
}

.catalog-header .user::after {
  content: "\241b";
  font-family: "symbols-technomart";
  color: #c5c5c5;
  font-size: 22px;
  line-height: 18px;
  position: absolute;
  right: 10px;
  top: 14px;
}

.user-menu {
  margin: 0;
  padding: 8px 0 0 18px;
  position: relative;

}

.user-menu li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  margin-right: 32px;

}

.user-menu li:nth-child(2) {
  width: 4px;
  height: 4px;
  background: #32425c;
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 107px;
}

.user-menu a {
  font-size: 16px;
  line-height: 18px;
  font-family: "cuprum";
  color: #32425c;
  text-decoration: underline;
}



.main-navigation-container {
  margin: 0;
  padding: 0;
  background: #32425c;
  border-bottom: 5px solid #293449;
  padding: 19px 54px 10px 51px;
  text-align: left;
}

.main-navigation {
  margin: 0;
  padding: 0;
}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  margin-right: 61px;
}

.main-navigation li:last-child {
  margin-right: 0;
}

.main-navigation a {
  font-size: 17px;
  line-height: 17px;
  font-family: "cuprum";
  text-decoration: none;
  color: #ffffff;
}



/*ПРИЕМУЩЕСТВА*/

.reasons {
  font-size: 0;
}

.reason {
  position: relative;
  width: 300px;
  float: left;
}

.reason a {
  font-family: "cuprum";
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  display:block;
  box-sizing: border-box;
  width: 135px;
  min-height: 38px;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.1);
}

.reason h2 {
  font-family: "Cuprum Bold";
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

.reason-img-container {
  width: 78px;
  height: 72px;
  line-height: 72px;
  outline: 1px solid black;
  text-align: center;
}

.reason-img-container img{
  vertical-align: middle;
}

.reasons .materials {
  background: #f6b22d;
}



.reasons .tools {
  background: #4aafde;
}

.reasons .equimpent {
  background: #cc79d1;
}

.reasons .discounts {
  background: #85d179;
}

.reasons .delivery {
  background: #f6b22d;
}

/*СЛАЙДЕР*/

.slider {
  width: 620px;
  height: 266px;
  box-sizing: border-box;
  position: relative;
  float:left;

}

.slider-control {
  position: absolute;
  width: 140px;
  height: 10px;
  top: 220px;
  left: 50%;
  margin-left: -70px;

  z-index: 20;
  box-sizing: border-box;
  text-align: center;
  font-size: 0;

}

.slider-control label {
  display: inline-block;
  vertical-align: top;
  width: 10px;
  height: 10px;
  box-sizing: border-box;
  border: 2px solid #fff;
  background: #FFF;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

#switch1:checked ~ .slider-control label[for="switch1"],
#switch2:checked ~ .slider-control label[for="switch2"] {
  background: #ee3643;
}

.slide {
  width: 620px;
  height: 266px;
  position: absolute;
  z-index: 10;
  display: none;
}

.slider .slide-perf {
  background: url("../img/slide-bg1.jpg");

}

.slider .slide-drel {
  background: url("../img/slide-bg2.jpg");
}


#switch1:checked ~ .sliders .slide-perf {
  display: block;
}

#switch2:checked ~ .sliders .slide-drel {
  display: block;
}

.slide a {
  display: block;
  width: 195px;
  padding: 12px 0;
  box-sizing: border-box;
  background: #ee3643;
  border-radius: 2px;
  font-size: 14px;
  font-family: "cuprum";
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.slider button {
  font-size: 45px;
  line-height: 18px;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 127px;
  left: 25px;
  z-index: 20;
}

.slider .right{
  left: 578px;
}

.slider .left::before {
  content: "\3C";
  color: #ffffff;
  font-family: "symbols-technomart";


}

.slider .right::before {
  content: "\3e";
  color: #ffffff;
  font-family: "symbols-technomart";

}

.slider-title h2 {
  margin: 0;
  padding: 0;
  font-family: "Cuprum Bold";
  color: #ffffff;
  font-size: 36px;
  line-height: 30px;
  text-transform: uppercase;
}

.slider-title span {
  font-family: "PT Sans";
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*ТОВАРЫ*/

.popular .list {
  background: #f7f3ec;
}

.list h2 {
  font-size: 30px;
  line-height: 30px;
  font-family: "cuprum";
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
}

.list a {
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  font-family: "cuprum";
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  width: 253px;
  min-height: 38px;
  box-sizing: border-box;
  background: #ee3643;
  border-radius: 2px;
}

/*САМИ ТОВАРЫ*/

.popular {
  font-size: 0;
}

.product-item {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  border: 1px solid #e5e5e5;
  text-align: center;
  position: relative;
}

.product-item .actions {
  position: absolute;
  background: #fff;
}

.product-item .actions {
  display: none;
}

.product-item:hover .actions {
  display: block;
}

.actions a {
  font-size: 14px;
  line-height: 18px;
  font-family: "cuprum";
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  width: 135px;
  min-height: 38px;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 12px 0;
}



.actions .buy {
  background: #63a63e;
  color: #fff;
  border-bottom: 3px solid #367315;
  position: relative;
}

.actions .buy::before {
  content: "\62";
  font-family: "symbols-technomart";
}

.actions .bookmark {
  border: 3px solid #63a63e;
  color: #32425c;
}

/*НОВЫЙ ФЛАГ*/

.flag-new::before {
  position: absolute;
  content: "";
  background: url("../img/new-img.png") no-repeat 0 0;
  width: 60px;
  height: 60px;
  top: 0;
  right: 0;
  z-index: 10;
}

.product-item h1 {
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans Bold";
  color: #000;
  margin: 0;
  padding: 0;
}

.product-item span {
  font-family: "PT Sans Bold";
  font-size: 17px;
  line-height: 18px;
  display: block;

}

.product-item .discount {
  color: #999;
  text-decoration: line-through;
}

.product-item .price {
  background: #ee3643;
  width: 140px;
  min-height: 38px;
  margin: 0 auto;
  box-sizing: border-box;
  color: #fff;
  position: relative;
}

.product-item .price::after {
  content: "";
  width: 0;
  height: 0;
  border: 19px solid #fff;
  border-left-color: #ee3643;
  position: absolute;
  top: 0;
  right: -19px;
}

.product-item .container-img {
  width: 218px;
  height: 180px;
  box-sizing: border-box;
}



/*ПОПУЛЯРНЫЕ ПРОИЗВОДИТЕЛИ*/

.manufacturer-item {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #e5e5e5;

}

.manufacturer-item:nth-child(-n+5) {
  padding: 47px 0 52px 0;
}

.manufacturer-item:nth-child(n+6) {
  padding: 34px 0 36px 0;
}

/* СЕРВИСЫ */
.services {
  background: #f2f6f8;
  font-size: 0;
  outline: 2px solid red;
}

.intro {
  padding: 68px 0 0;
  outline: 1px solid yellow;
}

.intro h2{
  margin: 0 0 30px;
  padding: 0;
  font-size: 30px;
  line-height: 24px;
  font-family: "cuprum";
  font-weight: normal;
  text-transform: uppercase;
}

.intro p {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 24px;
  font-family: "pt sans";
  width: 400px;
}

.slider-container {
  position: relative;
}

.slider-container input[type="radio"] {
  position: absolute;
  opacity: 0;
  display: none;
}

.services-toggle {
  margin: 0;
  padding: 0;
  width: 240px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  outline: 3px solid red;
  padding: 70px 0 0;
}

.services-toggle li {
  list-style: none;
}

.services-toggle label {
  font-size: 21px;
  font-family: "cuprum bold";
  line-height: 30px;
  color: #fff;
  text-decoration: none;
  display: block;
  background: #32425c;
  width: 240px;
  border-bottom: 1px solid #293449;
  border-top: 1px solid #405069;
  padding: 15px 0 15px 22px;
  box-sizing: border-box;
}



.services-slider {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 700px;
  height: 340px;
  outline: 4px solid green;
}

.services-slide {
  width: 700px;
  height: 340px;
  font-size: 13px;
  line-height: 24px;
  font-family: "pt sans";
  position: absolute;
  padding: 70px 0 0 80px;
  box-sizing: border-box;
}

.services-slide {
  display: none;
}

.services-slide h2 {
  margin: 0 0 30px 0;
  padding: 0;
  font-size: 36px;
  font-family: "cuprum";
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
}

.services-delivery {
  outline: 1px solid black;
  background: url("../img/auto-bg.png") 100% 100% no-repeat;

}

.services-guarantee {
  outline: 1px solid black;
  background: url("../img/medal-bg.png") 100% 100% no-repeat;

}

.services-credit {
  outline: 1px solid black;
  background: url("../img/credit-bg.png") 100% 100% no-repeat;

}

.services-credit p {
  margin-bottom: 30px;
}

.services-credit a {
  display: block;
  width: 195px;
  height: 38px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 18px;
  font-family: "cuprum";
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background: #ee3643;
  border-radius: 3px;
  padding: 11px;
}

#btn1:checked ~ .services-toggle label[for="btn1"],
#btn2:checked ~ .services-toggle label[for="btn2"],
#btn3:checked ~ .services-toggle label[for="btn3"] {
  background: #fff;
  color: #000;
  border: none;
}

#btn1:checked ~ .services-slider .services-delivery {
  display: block;
}

#btn2:checked ~ .services-slider .services-guarantee {
  display: block;
}

#btn3:checked ~ .services-slider .services-credit {
  display: block;
}

/*О КОМПАНИИ*/

.delivery-block {
  font-size: 0;
  padding: 80px 0 86px;
}

.company {
  width: 640px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  font-size: 13px;

}

.company h2 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-family: "cuprum";
  color: 0;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 32px;
}

.company p{
  margin-bottom: 30px;
}

.transport-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 20px;
  font-family: "cuprum";
}

.transport-list li{
  margin-bottom: 22px;
}

.transport-list li::before {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 25px;
  height: 2px;
  border: 1px solid #fb565a;
  box-sizing: border-box;
  margin-right: 10px;
  margin-top: 8px;
}

.company a {
  font-size: 14px;
  line-height: 18px;
  font-family: "cuprum";
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  display: block;
  width: 220px;
  text-align: center;
  background: #ee3643;
  padding: 12px 0;
  margin-top: 36px;
  border-radius: 3px;
}

.address {
  font-size: 13px;
  display: inline-block;
  vertical-align: top;
}

.address h2 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-family: "cuprum";
  color: 0;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 32px;
}

.small-map {
  width: 300px;
  min-height: 158px;
  background: url("../img/small-map-bg.jpg");
  margin-top: 36px;
  margin-bottom: 40px;
}

.address a {
  font-size: 14px;
  line-height: 18px;
  font-family: "cuprum";
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  display: block;
  width: 300px;
  text-align: center;
  background: #ee3643;
  padding: 12px 0;
  margin-top: 36px;
  border-radius: 3px;
}

/*ФОРМА*/

.mail-form {
  width: 620px;
  box-sizing: border-box;
  display: none;
}

.form-question {
  width: 620px;
  border-top: 7px solid #ee3643;
  padding: 26px 80px;
  box-sizing: border-box;
}

.form-question label {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  line-height: 18px;
  font-family: "cuprum";
  padding-top: 22px;
  box-sizing: border-box;
}

.form-question input[type="text"] {
  display: block;
  width: 220px;
  height: 34px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  margin-top: 13px;
  font-size: 13px;
  color: #999;
  padding: 0 0 0 14px;
  box-sizing: border-box;
}

.form-question input[name="name"] {
  margin-right: 20px;
}

.form-question textarea[name="message"] {
  width: 460px;
  min-height: 114px;
  vertical-align: top;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  display: block;
  margin-top: 13px;
  font-size: 13px;
  color: #999;
  padding: 0 0 0 14px;
  box-sizing: border-box;
  resize: none;

}

.button-container {
  background: #f1f1f1;
  padding: 37px 0;
}

.button-container input[type="submit"]{
  display: block;
  width: 460px;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  margin: auto;
  font-size: 14px;
  font-family: "cuprum";
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding: 12px;
  background: #ee3643;

}

/*ПОДВАЛ*/

.blue {
  background: #32425c;
  margin: 0;
  font-size: 0;
}

.footer-logo {
  display: inline-block;
  vertical-align: top;
  width: 390px;


  text-align: left;

}

.footer-logo a{
  text-align: center;;
  padding: 21px 0;
  border-bottom: 5px solid #b52933;
  display: inline-block;
  vertical-align: top;
  background: #ee3643;
  width: 220px;
  box-sizing: border-box;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  font-family: "cuprum";
}

.footer-menu-company {
  display: inline-block;
  vertical-align: top;
  outline: 1px solid yellow;

}

.footer-menu-company ul {
  margin: 0;
  padding: 0;
}

.footer-menu-company li {
  display: inline-block;
  vertical-align: top;
  padding: 38px 0 0 0;
  outline: 1px solid red;
  width: 110px;
  box-sizing: border-box;
  text-align: center;
}

.footer-menu-company a {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
  font-family: "cuprum";
  text-decoration: none;
}

.footer-contacts {
  width: 400px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;

}

.footer-contacts p {
  font-size: 18px;
  line-height: 24px;
  font-family: "cuprum";
  color: #f1f5f7;
  padding: 0;
  margin: 0;
  padding: 28px 75px 50px 0;
  outline: 1px solid red;

}


.footer-menu-materials {
  display: inline-block;
  vertical-align: top;
}

.footer-menu-materials ul {
  margin: 0;
  padding: 0;
}

.footer-menu-materials li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  width: 135px;
  text-align: center;
  outline: 1px solid yellow;
  padding-top: 30px;

}

.footer-menu-materials a {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
  font-family: "cuprum";
  text-decoration: none;
}

.rights {
  display: inline-block;
  vertical-align: top;
  width: 390px;
  box-sizing: border-box;
}

.rights p {
  margin: 0;
  padding: 38px 0;
  font-size: 16px;
  line-height: 18px;
  font-family: "cuprum";
  color: #fff;
}

.social {
  display: inline-block;
  vertical-align: top;
  padding-top: 36px;
  width: 250px;
  box-sizing: border-box;
}

.social a {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #212a3a;
  margin-right: 5px;
}

.social .social-vk::after {
  content: "\76";
  font-family: "symbols-technomart";
  font-size: 18px;
  line-height: 24px;
  left: 50%;
  top: 50%;
  margin-top: -12px;
  margin-left: -9px;
  position: absolute;
}

.social .social-fb::after {
  content: "\66";
  font-family: "symbols-technomart";
  font-size: 18px;
  line-height: 24px;
  left: 50%;
  top: 50%;
  margin-top: -12px;
  margin-left: -6px;
  position: absolute;
}

.social .social-in::after {
  content: "📷";
  font-family: "symbols-technomart";
  font-size: 18px;
  line-height: 24px;
  left: 50%;
  top: 50%;
  margin-top: -12px;
  margin-left: -7px;
  position: absolute;
}

.mail {
  display: inline-block;
  vertical-align: top;
}

.mail p {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  font-family: "cuprum";
  color: #fff;
  display: inline-block;
  vertical-align: top;
  width: 140px;
  box-sizing: border-box;
  padding-top: 38px;
}

.mail p:last-child {
  padding-left: 28px;
}

.mail a {
  color: #ffd180;
}

/*КАТАЛОГ*/


/*Хлебные крошки*/


.bread-crumbs {
  margin: 0;
  padding: 0;
  font-size: 0;
  padding: 18px 0;

}

.bread-crumbs li {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  font-size: 13px;
  line-height: 18px;
  font-family: "pt sans";
  color: #000;
  text-transform: uppercase;

  position: relative;

}

.bread-crumbs li:first-child{
  margin-right: 40px;

}


.bread-crumbs li:nth-child(2) {
  margin-right: 39px;
}

.bread-crumbs li:nth-child(3) {
  margin-right: 43px;
}


.bread-crumbs a {
  color: #000;
  text-decoration: none;
  font-size: 13px;
  line-height: 18px;
  vertical-align: top;

}

.bread-crumbs li::after {
  content: "\3e";
  font-family: "symbols-technomart";
  color: #c1c6ce;
  font-size: 14px;
  position: absolute;
  right: -20px;

}

.bread-crumbs li:nth-child(2)::after {
  right: -23px;
  top: -2px;
}

.bread-crumbs li:nth-child(3)::after {
  right: -25px;
  top: -2px;
}

.bread-crumbs li:last-child::after {
  content: none;
}

.bread-crumbs li:first-child a::before {
  content: "\1f3e0";
  font-family: "symbols-technomart";
  font-size: 16px;

  color: #c1c6ce;
}

/*Заголовок*/

.item {
  background: #f2f6f8;
  padding: 28px 28px;
  margin-bottom: 20px;

}

.item h1 {
  margin: 0;
  padding: 0;
  color: #32425c;
  text-transform: uppercase;
  font-family: "cuprum";
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
}


/*ФИЛЬТР БЛОК*/

.filter-block {
  width: 220px;
  margin-right: 20px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  outline: 1px solid red;
}

.name {
  font-size: 13px;
  line-height: 18px;
  font-family: "pt sans";
  background: #f7f3ec;
  color: #000;
  text-transform: uppercase;
  padding: 12px 18px 8px;
  border-radius: 2px;
}

.selection-form h2 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-transform: uppercase;
  font-family: "pt sans bold";
  font-size: 17px;
  line-height: 30px;
  padding: 12px 0 14px;
}

/*РЭЙНДЖ*/

.filter-block {
  display: inline-block;
  vertical-align: top;
}

.range-filter {
  width: 220px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e5e5;



}

.range-controls {
  background: #f7f3ec;
  padding: 39px 20px;
  position: relative;
  margin-bottom: 9px;
}

.scale {
  width: 180px;
  height: 2px;
  background: #d7dcde;
}

.bar {
  width: 80%;
  height: 2px;
  background: #00ca74;
}

.toggle {
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  box-shadow: 0 2px 1px 0 #d4d1cb;
}

.toggle-max {
  left: 160px;
}

.toggle-min {
  left: 20px;
}

.price-controls {
  font-size: 0;
  text-align: center;

}

.price-controls label {
  display: inline-block;
  vertical-align: middle;
  width: 43.18%;
  font-size: 17px;
  line-height: 18px;



}

.price-controls  input{
  width: 100%;
  border: none;
  text-align: center;
  background: #f7f3ec;
  border-radius: 3px;
  outline: none;
  padding: 10px 0;
}

.price-controls span {
  font-size: 16px;
  line-height: 18px;
  display: inline-block;
  vertical-align:  middle;
  width: 13.64%;
  color: #444;
}

.manufacturer {
  padding-bottom: 2px;
  border-bottom: 1px solid #e5e5e5;
}

.manufacturer h2 {
  padding: 0;
  padding: 16px 0 14px;
}

.manufacturer input[type="checkbox"] {
  display: none;
}

.manufacturer input[type="checkbox"] + label {
  display: block;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 34px;
  margin-bottom: 20px;
  position: relative;
}

.manufacturer input[type="checkbox"] + label::before {
  content: "\2610";
  font-family: "symbols-technomart";
  position: absolute;
  font-size: 28px;
  left: -34px;
  top: 0;
  color: #c1c1c1;
}

.manufacturer input[type="checkbox"]:checked + label::before {
  content: "\2611";
}

.power {
  padding-bottom: 59px;
}

.power h2 {
  padding: 0;
  font-size: 17px;
  line-height: 30px;
  padding: 17px 0 13px;
}

.power input[type="radio"] {
  display: none;
}

.power input[type="radio"] + label {
  display: block;
  margin-left: 33px;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

.power input[type="radio"] + label::before {
  content: "\25cb";
  font-family: "symbols-technomart";
  position: absolute;
  font-size: 28px;
  color: #c1c1c1;
  left: -33px;
}

.power input[type="radio"]:checked + label::before {
  content: "\25cf";
}

.selection-form input[type="submit"] {
  width: 140px;
  border: 1px solid #e5e5e5;
  background: #fff;
  text-transform: uppercase;
  padding: 0;
  padding: 9px 0;
  font-size: 13px;
  line-height: 18px;
  cursor: pointer;
  border-radius: 3px;
}

/*СОРТИРОВКА*/

.product {
  display: inline-block;
  vertical-align: top;
  outline: 1px solid red;
  width: 700px;
  font-size: 0;

}

.sorting {
  font-size: 0;
  padding: 11px 0 4px;
  background: #f7f3ec;
  border-radius: 3px;
  margin-bottom: 20px;


}

.sorting h2 {
  padding: 0;
  line-height: 18px;
  margin: 0;
  display: inline-block;
  vertical-align: top;
  font-size: 13px;

  text-transform: uppercase;
  width: 240px;
  box-sizing: border-box;
  padding: 0 0 0 18px;


}

.sorting ul {
  padding: 0;
  margin: 0;
  margin-right: 40px;
  display: inline-block;
  vertical-align: top;


}

.sorting li {
  padding: 0;
  margin: 0;
  display: inline-block;
  vertical-align: top;
  list-style: none;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  width: 120px;


}

.sorting .active {
  border: none;
  color: #ee3643;


}

.sorting a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
  line-height: 18px;



}

.arrow {
  position: relative;
  padding: 0;
  display: inline-block;
  vertical-align: top;

}

.arrow span:first-child::before {
  content: "\25b2";
  font-family: "symbols-technomart";
  font-size: 23px;
  margin-right: 21px;
  position: absolute;
  top: -2px;

}

.arrow span:last-child::before {
  content: "\25bc";
  font-family: "symbols-technomart";
  font-size: 23px;
  color: #c6c2bd;
  position: absolute;
  left: 32px;
  top: -2px;

}
