body {
  font-family: "PT sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  background: #ffffff;
}

img {
	max-width:100%;
	height:auto;
}

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "PT Sans";
	src: url("../fonts/ptsans.woff") format("woff"),
	url("../fonts/ptsans.woff2") format("woff2");
}

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "PT Sans Bold";
	src: url("../fonts/ptsansbold.woff") format("woff"),
	url("../fonts/ptsansbold.woff2") format("woff2");
}

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "Cuprum";
	src: url("../fonts/cuprum.woff") format("woff"),
	url("../fonts/cuprum.woff2") format("woff2");
}

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "Cuprum Bold";
	src: url("../fonts/cuprumbold.woff") format("woff"),
	url("../fonts/cuprumbold.woff2") format("woff2");
}

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "Cuprum Bold Italic";
	src: url("../fonts/cuprumbolditalic.woff") format("woff"),
	url("../fonts/cuprumbolditalic.woff2") format("woff2");
}

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "Cuprum Italic";
	src: url("../fonts/cuprumitalic.woff") format("woff"),
	url("../fonts/cuprumitalic.woff2") format("woff2");
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "symbols-technomart";
  src: url("../fonts/symbols-technomart.woff") format("woff"),
       url("../fonts/symbols-technomart.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-left::before { content: "\3c"; } /* "&lt;" */
.icon-right::before { content: "\3e"; } /* "&gt;" */
.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up::before { content: "\2c4"; } /* "˄" */
.icon-down::before { content: "\2c5"; } /* "˅" */
.icon-left-big::before { content: "\2190"; } /* "←" */
.icon-right-big::before { content: "\2192"; } /* "→" */
.icon-login::before { content: "\2386"; } /* "⎆" */
.icon-logout::before { content: "\241b"; } /* "␛" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-youtube::before { content: "\f39e"; } /* "" */
.icon-home::before { content: "🏠"; } /* "\1f3e0" */
.icon-user::before { content: "👨"; } /* "\1f468" */
.icon-phone::before { content: "📞"; } /* "\1f4de" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */
.icon-search::before { content: "🔍"; } /* "\1f50d" */
.icon-bookmark::before { content: "🔖"; } /* "\1f516" */

/*ХЭДЭР начало*/

.dark-blue {
  background: #293449;
  font-size: 0;
}

.positioner {
  width: 940px;
  margin: 0 auto;
}

.dark-blue a {
  display: inline-block;
  vertical-align: top;
  font-family: "cuprum";
  text-decoration: none;

  color: #ffffff;
}

.logo {
  padding: 12px 55px;
  font-size: 24px;
  text-transform: uppercase;
  color: #ffffff;
  background: #ee3643;

}

 .search {
  font-size: 17px;
  line-height: 18px;
  width: 288px;
  box-sizing: border-box;
  outline: 2px solid red;
}

.search::before {
  content: "\1f50d";
  font-family: "symbols-technomart";
  opacity: 0.3;

}

.bookmarks {
  font-size: 17px;
  line-height: 18px;
  width: 141px;
  box-sizing: border-box;
  vertical-align: middle;
  outline: 2px solid yellow;
}

.bookmarks::before {
  content: "\1f516";
  font-family: "symbols-technomart";
  opacity: 0.3;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 18px;

}

.basket {
  font-size: 17px;
  line-height: 18px;
  width: 141px;
  box-sizing: border-box;
  outline: 2px solid green;
}

.basket::before {
  content: "\62";
  font-family: "symbols-technomart";
  opacity: 0.3;

}

.order {
  font-size: 17px;
  line-height: 18px;
  padding: 15px 20px;
  background: #63a63e;

}

/*ХЭДЭР ВХОД*/

.light-blue {
  background: #f1f5f7;
  font-size: 0;
}

.contact {
  display: inline-block;
  vertical-align: top;
  width: 33.33333333%;
  outline: 1px solid black;

}

.contact p {
  font-size: 16px;
  line-height: 23px;
  font-family: "Cuprum Italic";
  color: #ee3643;
  width: 198px;
  margin: auto;
}

.telefon {
  width: 270px;
  box-sizing: border-box;
  border: 3px solid #ffffff;
  margin: 0 auto;
  padding: 10px 12px;


}

.contact span {
  font-family: "Cuprum";
  font-size: 21px;
  line-height: 18px;
  color: #e9292a;
  display: block;


}

.telefon::before {
  content: "\1f4de";
  font-family: "symbols-technomart";
  color: #b7bfc8;

}

.contact .address {
  font-family: "Cuprum";
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.contact a {
  font-family: "Cuprum";
  font-size: 21px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.contact .login {
  width: 120px;
  min-height: 45px;
  box-sizing: border-box;
  background: #ffffff;
  padding: 18px;
}

.contact .login::before {
  content:"\2386";
  font-family: "symbols-technomart";
  color: #c5c5c5;
}

.contact .registration {
  width: 150px;
  min-height: 45px;
  box-sizing: border-box;
  background: #ffffff;
  padding: 18px;
}

.main-navigation {
  background: #32425c;
  border-bottom: 5px solid #293449;
  padding: 0 0;
  text-align: center;
}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
  width: 123px;

}

.main-navigation a {
  font-size: 17px;
  line-height: 17px;
  font-style: "cuprum";
  text-decoration: none;
  color: #ffffff;
}

/*ПРИЕМУЩЕСТВА*/

.reasons {
  font-size: 0;
}

.reason {
  position: relative;
  width: 300px;
  float: left;
}

.reason a {
  font-family: "cuprum";
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  display:block;
  box-sizing: border-box;
  width: 135px;
  min-height: 38px;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.1);
}

.reason h2 {
  font-family: "Cuprum Bold";
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

.reason-img-container {
  width: 78px;
  height: 72px;
  line-height: 72px;
  outline: 1px solid black;
  text-align: center;
}

.reason-img-container img{
  vertical-align: middle;
}

.reasons .materials {
  background: #f6b22d;
}



.reasons .tools {
  background: #4aafde;
}

.reasons .equimpent {
  background: #cc79d1;
}

.reasons .discounts {
  background: #85d179;
}

.reasons .delivery {
  background: #f6b22d;
}

/*СЛАЙДЕР*/

.slider {
  width: 620px;
  height: 266px;
  box-sizing: border-box;

  float:left;
}

.slide {
  width: 620px;
  height: 266px;
  background: url("../img/slide-bg1.jpg");
}

.slide:nth-child(2) {
  width: 620px;
  height: 266px;
  background: url("../img/slide-bg2.jpg");
  display: none;
}

.slide a {
  display: block;
  width: 195px;
  padding: 12px 0;
  box-sizing: border-box;
  background: #ee3643;
  border-radius: 2px;
  font-size: 14px;
  font-family: "cuprum";
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.slide button {
  font-size: 45px;
  line-height: 18px;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}

.slide .left::before {
  content: "\3C";
  color: #ffffff;
  font-family: "symbols-technomart";
}

.slide .right::before {
  content: "\3e";
  color: #ffffff;
  font-family: "symbols-technomart";
}

.slider-title h2 {
  margin: 0;
  padding: 0;
  font-family: "Cuprum Bold";
  color: #ffffff;
  font-size: 36px;
  line-height: 30px;
  text-transform: uppercase;
}

.slider-title span {
  font-family: "PT Sans";
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*ТОВАРЫ*/

.popular .list {
  background: #f7f3ec;
}

.list h2 {
  font-size: 30px;
  line-height: 30px;
  font-family: "cuprum";
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
}

.list a {
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  font-family: "cuprum";
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  width: 253px;
  min-height: 38px;
  box-sizing: border-box;
  background: #ee3643;
  border-radius: 2px;
}

/*САМИ ТОВАРЫ*/

.popular {
  font-size: 0;
}

.product-item {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  border: 1px solid #e5e5e5;
  text-align: center;
  position: relative;
}

/*НОВЫЙ ФЛАГ*/

.flag-new::before {
  position: absolute;
  content: "";
  background: url("../img/new-img.png") no-repeat 0 0;
  width: 60px;
  height: 60px;
  top: 0;
  right: 0;
  z-index: 10;
}

.product-item h1 {
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans Bold";
  color: #000;
}

.product-item span {
  font-family: "PT Sans Bold";
  font-size: 17px;
  line-height: 18px;
  display: block;

}

.product-item .discount {
  color: #999;
  text-decoration: line-through;
}

.product-item .price {
  background: #ee3643;
  width: 140px;
  min-height: 38px;
  margin: 0 auto;
  box-sizing: border-box;
  color: #fff;
  position: relative;
}

.product-item .price::after {
  content: "";
  width: 0;
  height: 0;
  border: 19px solid #fff;
  border-left-color: #ee3643;
  position: absolute;
  top: 0;
  right: -19px;
}

.product-item .container-img{
  width: 218px;
  height: 180px;
  box-sizing: border-box;
}
